<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
  <link rel="stylesheet" href="/resources/css/style.css">
</head>
<body>
<div class="contacts__form">
  <h4 class="head4__contacts">Add product</h4>
    <form action="#" th:action="@{/add}" th:object="${product}" method="post">
  <p class="form">id</p><input type="number" th:field="*{id}" placeholder="id" class="input"><br>
  <p class="form">title </p><input type="text" th:field="*{title}" placeholder="title" class="input"><br>
  <p class="form">price</p> <input type="number" th:field="*{price}" placeholder="price" class="input"><br>

  <button type="submit" class="button_submit">submit</button>
    </form>
</div>
</body>
</html>